{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "cursorOffset": -1,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "experimentalTernaries": false,
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": false,
    "tabWidth": 2
}